<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      STYLISTS
    </h2>
    <p class='service-explain'>
      あなたの近くの美容師にすぐ出会える
    </p>
    <p class='service-explain'>
      美容師の新しい働き方
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

    <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      多様な働き方を実現したい
    </h2>
    <p class='ad-explain'>
      STYLISTSは美容師の様々な働き方を実現するサービスです。
    </p>
    <p class='ad-explain'>
      好きな場所で好きな時間で
    </p>
    <p class='ad-explain'>
      あなたの人生に合った働き方を見つけてください
    </p>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      STYLISTSが選ばれる理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "stylist_women.jpg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>好きな時間</span>
          に働ける
        </h3>
        <p class='reason-list-description'>
          時間に縛られる事なく好きな時間に働けます
        </p>
      </li>
      <li class='list'>
        <%= image_tag "hasami_l.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          用意は
          <span class='reason-list-blue-text'>必要最低限</span>
        </h3>
        <p class='reason-list-description'>
          ハサミがあればすぐに働く事が出来ます！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "会計.jpg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          報酬は
          <span class='reason-list-blue-text'>完全歩合制</span>
        </h3>
        <p class='reason-list-description'>
          売上の半分が報酬となります。  頑張った分だけ報酬が上がります
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>店舗一覧</h2>
    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "内装写真1.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            梅田店
          </h3>
          <div class='item-price'>
            <span>住所：大阪市北区●●●●<br>TEL:06-1234-5678</span>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>

      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "内装写真2.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            難波店
          </h3>
          <div class='item-price'>
            <span>住所：大阪市中央区●●●●<br>TEL:06-1234-5678</span>
          </div>
        </div>
        <% end %>
      </li>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to('#', class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>